@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 900px) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  color: #333;
  font-weight: 300;
  margin: 0 0 20px;
  font-size: 24px;

  @include lg {
    font-size: 28px;
  }
}

h2 {
  color: #777;
  font-weight: normal;
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  color: #000;
  transition: color 250ms;
}

a:hover {
  color: #357;
}

p {
  margin: 10px 0;
}

.description {
  margin-bottom: 40px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  @include lg {
    padding: 40px;
  }
}

.item {
  margin-bottom: 40px;
}

.image {
  width: 100%;
  display: block;
  box-shadow: 0 0 5px #ddd;
  margin-top: 20px;
  background: #fff;
}

.notice {
  margin-top: 10px;
  font-size: 14px;
}

svg {
  display: block;
}
